@use 'variables' as *;

.container {
  padding: 20px 20px 58px 20px;
}

.header {
  width: 100%;
  height: 24px;
  margin-bottom: 46px;

  .logo__link {
    display: block;
    height: inherit;
    width: fit-content;
  }
}

.main {
  display: grid;
  place-items: center;

  .profile {
    width: 320px;
    height: 612px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;

    .profile-img {
      width: inherit;
      height: 353px;
    }

    .contacts-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      left: 0;
      bottom: 0;
      width: inherit;
      height: 288px;
      padding: 24px 16px 40px 16px;
      background-color: $accent-color;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .contacts-info h1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -2%;
        margin-bottom: 4px;
      }

      .contacts-list {
        width: 100%;
        height: 144px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contacts-list__item {
          min-height: 24px;
          display: flex;
          align-items: center;
        }

        .icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 14px;
        }

        .phone-icon {
          background: $phone-icon;
        }

        .mail-icon {
          background: $mail-icon;
        }

        .telegram-icon {
          background: $telegram-icon;
        }

        .github-icon {
          background: $github-icon;
        }
      }
    }

    .contacts-container::before {
      content: url("../static/img/arrow-up.svg");
      position: absolute;
      top: -39px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  .about-me {
    width: 320px;

    .about-me__text {
      overflow-wrap: break-word;
      word-break: break-word;
      white-space: normal;
      margin-bottom: 24px;
    }

    .about-me__details {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 16px;
      padding-bottom: 6px;
      border: 1px solid #ffffff;

      .about-me__details-item {
        padding: 24px 0 24px 0;
        border-bottom: 1px solid rgba($text-color, 0.4);
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 0;
        }

        span {
          color: rgba($text-color, 0.4);
        }

        .about-me__details-header {
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 20px;
        }

        .skills-list {
          display: flex;
          flex-wrap: wrap;
        }

        .skills-list li {
          margin-right: 16px;
        }

        .skills-list li:last-child {
          margin-right: 0;
        }
      }

      .about-me__details-item:last-child {
        border-bottom: none;
      }

    }

    .about-me__details::before {
      content: url("../static/img/arrow-down.svg");
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
      background: $main-color;
      z-index: 1;
    }
  }

}