$main-color: #000000;
$accent-color: #F51B1B;
$text-color: #ffffff;

$font-family-main: 'TT Commons', sans-serif;

$phone-icon: url('../static/img/phone-call.svg') no-repeat center transparent;
$mail-icon: url('../static/img/mail.svg') no-repeat center transparent;
$telegram-icon: url('../static/img/telegram.svg') no-repeat center transparent;
$github-icon: url('../static/img/github.svg') no-repeat center transparent;


